<!DOCTYPE html>
<html>
<head>
	<title>coffie</title>
</head>
	<title>The Coffee House</title>
	<style>
	body
		{
			
			background-image: url("https://restaurantindia.s3.ap-south-1.amazonaws.com/s3fs-public/2020-06/CCD.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>

<body>

	<div>
		
		<form>
		<table>
			<tr><h1>The Coffee Form</h1></tr>
			<tr><h2>Order Form</h2></tr>
			<tr>
				<td><label>Coffee</label></td>
				<td><select>
					<option>Select Coffee</option>
					<option>Black Coffee</option>
					<option>Espresso</option>
					<option>Instant Coffee</option>
					<option>Milked Based Coffee</option>
					<option>Cappuccino</option>
					<option>Macchiato</option>
					<option>Cold Brew Coffee</option>
				</select></td>
			</tr>

			<tr>
				<td><label>Type</label></td>
				<td><input type="radio" name="r1">Regular</td>
				<td><input type="radio" name="r1">Decaffeinated</td>
			</tr>

			<tr>
				<td><label>Quantity (in pounds):</label></td>
				<td><input type="text"></td>
			</tr>

			<tr>
				<td><label>Name:</label></td>
				<td><input type="text"></td>
			</tr>

			<tr>
				<td><label>E-mail address:</label></td>
				<td><input type="text"></td>
			</tr>

			<tr>
				<td><label>Telephone #:</label></td>
				<td><input type="text"></td>
			</tr>

			<tr>
				<td><label>Address:</label></td>
				<td><input type="text" name=""></td>
			</tr>

			<tr>
				<td><label>City:</label></td>
				<td><input type="text"></td>
			</tr>

			<tr>
				<td><label>State:</label></td>
				<td><input type="text"></td>
			</tr>

			<tr>
				<td><label>Zip:</label></td>
				<td><input type="text"></td>
			</tr>
			<tr><td><input type="submit"></td></tr>
			<tr><td><input type="Reset" name=""></td></tr>
		</table>
	</form>
	</div>
	<h1><a herf ="{% url 'hello'%}" click here ></a> </h1>
</body>
</html>


